
     <diV>ハンドルネーム
      <%= @recruiting.person.handle %></diV>

      <diV>性別
      <%= @recruiting.person.gender %></diV>

      <diV>年齢
      <%= @recruiting.person.age %></diV>

      <diV>連絡先
      <%= @recruiting.person.contact %></diV>